/*Navbar*/
.navbar {
    background-color:#00FF00;
}
.nav-link {
    font-family: Lobster, "Lobster Two", cursive;
}
.navbar-brand {
    font-family: 'Courier New', Courier, monospace;
}

/*Body and Text*/
body {
    background-color: darkgreen;
}
h1 {
    text-align: center;
    color: lightblue;
    text-size-adjust: auto;
    font-size: 60px;
}
p {
    text-align: center;
    color: #D0BDF0;
    text-size-adjust: auto;
    font-size: 25px;
}

/*Images, Videos, Etc*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
img {
    max-width: 25%;
    max-height: 25%;
}

/*Scroll Bar*/
.scroller {
    scrollbar-color: purple lightgreen;
    overflow-y: scroll;
    scrollbar-width: thin;
}
.scroller::-webkit-scrollbar-track  {
    background-color: purple;
}
.scroller::-webkit-scrollbar-thumb {
    height: 30px;
    background-color: lightgreen;
}
html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}